<h1>CREATE A NEW FIGURE</h1>

<form class="new_figure" action="/new" method="post">
  <input type="text" name="figure_name" value="figure_name">
  <input type="submit" name="submit" value="submit">
</form>
